
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>KAMP TABLO ÖRNEĞİ-KATEGORİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>SPOR</td>
        <td>AÇIKLAMA YAPILDI</td>
        <td>TRUE</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sinema</td>
        <td>AÇIKLAMA Bekleniyor</td>
        <td>TRUE</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>SPOR</td>
        <td>AÇIKLAMA YAPILDI</td>
        <td>TRUE</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>

<button class="btn btn-warning">Kategori Listesi</button>

<button class="btn btn-danger">Kategori Açıklamaları</button>

